::-webkit-scrollbar {
    background: rgb(0, 0, 0);
    width: .75em;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: rgba(102, 102, 102, 0.65);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(119, 119, 119, 0.65);
}

.App {  
    height: "auto";
    width: "100vw";
}