.main {
    display: block;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(229.54deg, rgba(183, 35, 35, 0.39) 3.15%, rgba(74, 183, 35, 0.39) 29.66%, rgba(50, 236, 191, 0.39) 52.25%), url("../../public/images/turntables.jpg");
    background-size: cover;
    overflow: hidden;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.5);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 5vw;
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 50%;
    left: 50%;
    overflow: hidden;
    float: right;
}

.header {
    color: white;
    font-weight: lighter;
    font-size: 2em;
    margin-top: 75px;
    margin-bottom: -10px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    overflow: hidden;
    height: 5vw;
    width: auto;
}

.text {
    color: white;
    font-size: 150%;
    padding: 2%;
}

.textContainer {
    background: rgba(0,0,0,.25);
    padding: 1em;
    height: 80%;
    width: 80%;
    margin-left: -1em;
    margin-top: 2em;
    margin-bottom: 5%;
}

.border {
    position: relative;
    display: flex;
    height: 39vw;
    width: 39vw;
    background: linear-gradient(135deg, rgba(183, 35, 35, 1), rgba(51, 169, 236, 1));
    border: 1px solid transparent;
    border-radius: 500px;
    padding: 1vh;
    margin-top: 2.5%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-name: borderSpinner;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.profilePic {
    display: block;
    height: 35vw;
    width: 35vw;
    border: 0px solid transparent;
    border-radius: 500px;
    background: url('../../public/images/007-COLOR.png');
    background-size: cover;
    overflow: hidden;
    animation-name: counterSpinner;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.noScroll {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    overflow: hidden;
    float: left;
    /* transform: translateY(60vh); */
}

/* --------------- ANIMATION FRAMES  --------------- */

@keyframes borderSpinner {
    0% { transform: rotate(0); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

@keyframes counterSpinner {
    0% { transform: rotate(0); }
    25% { transform: rotate(-90deg); }
    50% { transform: rotate(-180deg); }
    75% { transform: rotate(-270deg); }
    100% { transform: rotate(-360deg); }
}

/* --------------- RESPONSIVE BREAKPOINTS --------------- */

@media screen and (max-width: 997px) and (min-width: 0px) {
    .textContainer {
        /* margin-top: -10px; */
        height: 50%;
    }
}

@media screen and (max-width: 997px) and (min-width: 458px) {
    .textContainer {
        height: 50%;
        transform: translateY(-4vh)
    }
}

@media screen and (min-width: 0px) and (max-width: 999px) {
    .section {
       height: 65%;
       width: 100%;
       transform: translateY(50%);
    }

    .header {
        height: 20%;
        font-size: 2em;
        margin-bottom: 2%;
    }

    .textContainer::-webkit-scrollbar {
        display: none;
    }
    
    .textContainer {
        background: rgba(0,0,0,.25);
        margin: 0;
        width: 80%;
        justify-self: auto;
    }
    
    .border {
        height: 27vh;
        width: 27vh;
    }
    
    .profilePic {
        height: 26vh;
        width: 26vh;
        background: url('../../public/images/008-COLOR.png');
        background-size: cover;
    }

    .noScroll {
        position: relative;
        height: auto;
        width: 100%;
        margin-top: -400px;
    }
}

/* iPhone SE */
@media screen and (device-height: 667px) {
    .noScroll {
        margin-top: -350px;
    }

    .textContainer {
        font-size: .75em;
    }

    .noScroll {
        transform: translateY(0vh);
    }
}

/* iPhone XR */
@media screen and (device-height: 896px) {
    .noScroll {
        margin-top: -500px;
        transform: translateY(0vh);
    }
}

/* iPhone 12 Pro */
@media screen and (device-height: 844px) {
    .noScroll {
        margin-top: -450px;
        transform: translateY(0vh);
    }
}

/* Samsung Galaxy S8+ */
@media screen and (device-height: 740px) {
    .noScroll {
        margin-top: -400px;
        transform: translateY(0vh);
    }

    .textContainer {
        font-size: .75em;
    }
}

/* Pixel 5 */
@media screen and (device-height: 851px) {
    .noScroll {
        margin-top: -475px;
        transform: translateY(0vh);
    }
}

/* iPad Air */
@media screen and (device-height: 1180px) {
    .noScroll {
        margin-top: -650px;
        transform: translateY(0vh);
    }

    .header {
        margin-bottom: 90px;
        height: 5vw;
    }

    .textContainer {
        height: 60%;
    }
}

/* iPad Mini */
@media screen and (device-height: 1024px) {
    .noScroll {
        margin-top: -580px;
        transform: translateY(0vh);
    }

    .header {
        margin-bottom: 0px;
    }

    .textContainer {
        height: 60%;
    }
}

/* Surface Pro 7 */
@media screen and (device-height: 1368px) {
    .noScroll {
        margin-top: -775px;
        transform: translateY(0vh);
    }

    .header {
        margin-bottom: -20px;
    }

    .textContainer {
        height: 60%;
    }
}

/* Surface Duo */
@media screen and (device-height: 720px) and (device-width: 540px) {
    .noScroll {
        margin-top: -380px;
        transform: translateY(0vh);
    }

    .textContainer {
        font-size: .75em;
    }
}

/* Samsung Galaxy Fold */
@media screen and (device-height: 653px) {
    .noScroll {
        margin-top: -350px;
        transform: translateY(0vh);
    }

    .textContainer {
        height: 40vh;
        font-size: .75em;
    }

    .header {
        font-size: 18px;
        height: 10vw;
    }
}

/* Samsung S20 Ultra */
@media screen and (device-height: 915px) {
    .noScroll {
        margin-top: -500px;
        transform: translateY(0vh);
    }
}

/* Samsung Galaxy A51/71 */
@media screen and (device-height: 914px) {
    .header {
        margin-bottom: -10px;
    }

    .noScroll {
        margin-top: -500px;
        transform: translateY(0vh);
    }
}

/* Nest Hub */
@media screen and (device-height: 600px) {
    .noScroll {
        transform: translateY(0vh);
    }
}

/* Nest Hub Max */
@media screen and (device-height: 800px) {
    .noScroll {
        transform: translateY(0vh);
    }
}