.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(65, 62, 62);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 2em;
}

h1 {
    color: white;
    font-weight: lighter;
    margin-bottom: 10%;
}

.titleContainer {
    margin-bottom: .6%;
    margin-top: 2%;
    overflow: hidden;
}

.formWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 90vw;
    color: white;
    background: rgb(18, 18, 19);
    border: 1px rgb(18, 18, 19) solid;
    border-radius: 20px;
    overflow: hidden;
}

.newShowHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5%;
    width: 90%;
}

.showForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: -7%;
}

.fieldInput {
    width: 100%;
}

.fieldInput:focus {
    width: 100%;
    background: white;
    color: black;
}

.submit {
    width: 50%;
    margin-right: 25%;
    margin-left: auto;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-bottom: 3%;
}

.showListings {
    min-height: 10vh;
    width: 100vw;
    margin-top: 10px;
}

.noShow {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (orientation: portrait) {
    h1 {
        font-size: 20px;
    }

    label {
        font-size: 15px;
    }

    input {
        font-size: 15px;
    }

    textarea {
        font-size: 15px;
    }

    button {
        margin-top: 15px;
        font-size: 15px;
    }
}