.main {
    display: block;
    margin: 0px;
    margin-top: 100vh;
    padding: 0px;
    height: 100vh; 
    width: 100vw; 
    background-image: linear-gradient(265.87deg, rgba(183, 35, 35, 0.3) 9.77%, rgba(51, 169, 236, 0.3) 44.18%, rgba(74, 183, 35, 0.3) 61.72%), url("../../public/images/graffiti1-edit.jpg");
    
    background-size: cover;
    background-position-y: -20vh;
    overflow: hidden;
}

.banner {
    display: block;
    position: absolute;
    font-size: 4.5em;
    font-weight: 400;
    color: rgb(40, 239, 236);
    text-shadow: 5px 5px rgba(183, 35, 35, 1);
    transform: translate(22vh, 15vw);
}

.socialContainer {
    position: absolute;
    height: 10vh;
    width: 30vw;
    transform: translate(24vh, 24vw);
}

.listContainer {
    display: flex;
    justify-content: space-between;
}

.listItem {
    background: red;
    height: 10vh;
    width: 20%;
    float: left;
}

.spotify {
    background: url('../../public/images/spotifyLogo.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.facebook {
    background: url('../../public/images/facebookLogo.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.instagram {
    background: url('../../public/images/instagramLogo.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.twitter {
    background: url('../../public/images/twitterLogo.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.link {
    display: block;
    height: 100%;
    width: 100%;
}

/* --------------- RESPONSIVE BREAKPOINTS --------------- */

@media screen and (min-width: 361px) and (max-width: 768px) {
    .main {
        background-image: linear-gradient(265.87deg, rgba(183, 35, 35, 0.3) 9.77%, rgba(51, 169, 236, 0.3) 44.18%, rgba(74, 183, 35, 0.3) 61.72%), url("../../public/images/graffiti2.jpg");
        background-repeat: no-repeat;
        background-size: inherit;
    }

    .banner {
        transform: translate(11vh, 22vw);
        font-size: 2.5em;
    }

    .socialContainer {
        transform: translate(13vh, 30vw);
        height: 15vh;
        width: 40vw;
    }
}

@media screen and (min-width: 1px) and (max-width: 360px) {

}