.container {
    position: relative;
    z-index: 10;
    background: rgba(0,0,0,0.65);
    width: 45vw;
    height: 100%;
    transform: translateX(110.5%);
    top: 8vh;
    overflow: hidden;
}

.confirmContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    width: 45vw;
    height: inherit;
    overflow: hidden;  
}

.confirmText {
    font-weight: 600;
    color: rgb(40, 239, 236);
    text-shadow: 3px 3px rgba(183, 35, 35, 1);
}

.confirmThankYou {
    margin-top: -5%;
}

.confirmSubThankYou {
    margin-top: 5%;
    font-size: 1.5em;
}

.confirmOkay {
    margin-top: 10%;
    font-size: larger;
    border: 2px rgba(50, 236, 191, 1) solid;
    border-radius: 500px;
    background: transparent;
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    transition-duration: .5s;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.confirmOkay:hover {
    color: black;
    background-color: rgba(50, 236, 191, 1);
    text-shadow: none;
}

.toggle {
    width: 50%;
    padding-top: 1%;
    margin-bottom: 2.5%;    
    font-size: larger;
    background: black; 
    padding-bottom: 2px;
}

.toggleContact {
    color: rgba(50, 236, 191, 1);
    border: 1px solid black;
    border-bottom: 2px rgba(50, 236, 191, 1) solid;
}

.toggleContact:hover {
    color: rgb(93, 250, 90);
    border-bottom: 2px rgb(93, 250, 90) solid;
}

.toggleBooking {
    color:rgb(252, 111, 111);
    border: 1px solid black;
    border-bottom: 2px rgb(252, 111, 111) solid;
}

.toggleBooking:hover {
    color:rgb(249, 49, 49);
    border-bottom: 2px rgb(249, 49, 49) solid;
}

.label {
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    display: block;
    color: white;
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: .5%;
}

.input, input:focus {
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: rgba(50, 236, 191, 1);
    font-size: medium;
    background: transparent;
    border: none;
    border-bottom: 1px rgba(50, 236, 191, 1) solid;
}

.select {
    display: block;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    font-size: medium;
    color: rgba(50, 236, 191, 1); 
    background: rgba(0,0,0,0.85);
    border: none;
    height: 5vh;
}

.option {
    color: rgba(50, 236, 191, 1); 
    background: rgba(0,0,0,0.85);
}

.datetime {
    width: 85%;
    margin-left: 7%;
    margin-right: auto;
    background:rgba(50, 236, 191, 1);
    font-size: large;
}

.textarea {
    display: block;
    resize: none;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border: none;
    color: rgba(50, 236, 191, 1);
    font-size: large;
    background: rgba(0,0,0,0.65);
}

.textareaContact {
    height: 25vh;
}

.textareaBooking {
    height: 15vh;
}

.warning {
    color: rgb(252, 111, 111);
    display: block;
    margin-left: 7%;
    font-size: small;
}

.warningHidden {
    color: transparent;
    display: block;
    margin-left: 7%;
    font-size: small;
}

.submit {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    font-size: larger;
    border: 2px rgba(50, 236, 191, 1) solid;
    border-radius: 500px;
    background: transparent;
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    transition-duration: .5s;
}

.submitContact {
    margin-top: 6%;
}

.submitBooking {
    margin-top: .5%;
}

.submit:hover {
    color: black;
    text-shadow: none;
    background: rgba(50, 236, 191, 1)
}

/* --------------- RESPONSIVE BREAKPOINTS --------------- */

@media all and (orientation: landscape) {
    .toggleContact {
        font-size: 3vh;
    }
    
    .toggleBooking {
        font-size: 3vh;
    }

    .container {
        font-size: 1rem;
        height: 100%;
    }

    .input, input:focus {
        font-size: 3vh;
    }

    .label {
        /* margin-bottom: 4%; */
        font-size: 3vh;
    }

    .datetime {
        font-size: 3vh;
    }

    .select {
        font-size: 3vh;
        margin-top: 2%;
    }

    .option {
        font-size: small;
    }

    .textarea {
        font-size: 3vh;
    }
    
    .textareaContact {
        height: 30vh;
        margin-top: 4%;
    }

    .textareaBooking {
        height: 30vh;
        margin-top: 2%; 
    }

    .submit {
        font-size: 3vh;
    }

    .submitBooking {
        margin-top: 4%;
    }
}

@media all and (orientation: portrait) {
    .container {
        margin-top: 3vh;
        height: 100%;
    }

    .toggleContact {
        font-size: 3.5em;
    }
    
    .toggleBooking {
        font-size: 3.5em;
    }
    
    .input, input:focus {
        font-size: 3.5em;
    }

    .label {
        margin-bottom: 4%;
        font-size: 3.5em;
    }

    .datetime {
        font-size: 3.5em;
    }

    .select {
        font-size: 3.5em;
    }

    .option {
        font-size: small;
    }

    .textarea {
        font-size: 3.5em;
    }
    
    .textareaContact {
        height: 30vh;
    }
    
    .textareaBooking {
        height: 30vh;
    }
    
    .submitContact {
        margin-top: 20%;
    }

    .submitBooking {
        margin-top: 20%;
    }

    .container {
        /* position: absolute; */
        transform: translate(5vw, 13vh);
        width: 90vw;
        height: 150vh;
    }
    
    .submit {
        font-size: 4.5em;
        margin-top: 3vh;
    }

    .confirmContainer {
        width: inherit;
    }

    .warning {
        color: rgb(252, 111, 111);
        display: block;
        margin-left: 7%;
        font-size: 2.5em;
    }

    .confirmThankYou {
        font-size: 5em;
        margin-top: -130%;
    }
    
    .confirmSubThankYou {
        margin-top: -5%;
        font-size: 4em;
    }
    
    .confirmOkay {
        margin-top: 10%;
        font-size: 4em;
        border: 2px rgba(50, 236, 191, 1) solid;
        border-radius: 500px;
        background: transparent;
        color: rgba(50, 236, 191, 1);
        text-shadow: 2px 2px rgba(183, 35, 35, 1);
        transition-duration: .5s;
        padding: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    * {
        font-size: .50rem;
    }
}

/* --------------- DEVICE-SPECIFIC BREAKPOINTS --------------- */

/* iPad Mini */
@media screen and (device-height: 1024px) {
    .submit {
        font-size: 30px;
    }
}

/* iPhone SE */
@media screen and (device-height: 667px) and (device-width: 375px) {
    .submitContact {
        margin-top: 7%;
    }

    .submitBooking {
        margin-top: 1%;
    }
}

/* iPhone XR */
@media screen and (device-height: 896px) and (device-width: 414px) {
    .submitContact {
        margin-top: 18%;
    }

    .submitBooking {
        margin-top: 15%;
    }
}

/* iPhone 12 Pro */
@media screen and (device-height: 844px) and (device-width: 390px) {
    .submitContact {
        margin-top: 16%;
    }

    .submitBooking {
        margin-top: 12%;
    }
}

/* iPad Air */
@media screen and (device-height: 1180px) and (device-width: 820px) {
    .submitContact {
        margin-top: 16%;
    }

    .submitBooking {
        margin-top: 12%;
    }
}

/* iPad Mini */
@media screen and (device-height: 1024px) and (device-width: 768px) {
    .submitContact {
        margin-top: 10%;
    }

    .submitBooking {
        margin-top: 9%;
    }
}

/* Pixel 5 */
@media screen and (device-height: 851px) and (device-width: 393px) {
    .submitContact {
        margin-top: 17%;
    }

    .submitBooking {
        margin-top: 13%;
    }
}

/* Surface Duo */
@media screen and (device-height: 720px) and (device-width: 540px) {
    .container {
        height: 100vh;
    }

    .textareaContact {
        height: 18vh;
    }

    .textareaBooking {
        height: 8vh;
    }

    .submit {
        margin-top: 3%;
    }

    .submitContact {
        margin-top: 9%;
    }

    .submitBooking {
        margin-top: 3%;
    }
}

/* Surface Pro 7 */
@media screen and (device-height: 1368px) and (device-width: 912px) {
    .container {
        height: 100vh;
    }

    .submitContact {
        margin-top: 17%;
    }

    .submitBooking {
        margin-top: 13%;
    }
}

/* Samsung Galaxy S8+ */
@media screen and (device-height: 740px) and (device-width: 360px) {
    .submitContact {
        margin-top: 10%;
    }

    .submitBooking {
        margin-top: 4%;
    }
}

/* Samsung Galaxy S20 Ultra */
@media screen and (device-height: 915px) and (device-width: 412px) {
    .submitContact {
        margin-top: 20%;
    }

    .submitBooking {
        margin-top: 17%;
    }
}

/* Samsung Galaxy Note 20 Ultra */
@media screen and (device-width: 1080px) and (device-height: 2400px) {
    .toggleContact {
        font-size: 3.5em;
    }
    
    .toggleBooking {
        font-size: 3.5em;
    }
    
    .input, input:focus {
        font-size: 3.5em;
    }

    .label {
        margin-bottom: 4%;
        font-size: 3.5em;
    }

    .datetime {
        font-size: 3.5em;
    }

    .select {
        font-size: 3.5em;
    }

    .option {
        font-size: small;
    }

    .textarea {
        font-size: 4.5em;
    }
    
    .textareaContact {
        height: 30vh;
        margin-bottom: 3vh;
    }
    
    .textareaBooking {
        height: 12vh;
        margin-top: 5%; 
    }
    
    .submitContact {
        margin-top: 20%;
    }

    .submitBooking {
        margin-top: 20%;
    }

    .container {
        /* position: absolute; */
        transform: translate(5vw, 13vh);
        width: 90vw;
        height: 80vh;
    }
    
    .submit {
        font-size: 3.5em;
        margin-top: 16%;
    }

    .confirmContainer {
        width: inherit;
    }

    .submit {
        margin-top: 1vh;
    }

    .warning {
        color: rgb(252, 111, 111);
        display: block;
        margin-left: 7%;
        font-size: 2.5em;
    }

    .confirmThankYou {
        font-size: 5em;
        margin-top: -5%;
    }
    
    .confirmSubThankYou {
        margin-top: 5%;
        font-size: 4em;
    }
    
    .confirmOkay {
        margin-top: 10%;
        font-size: 4em;
        border: 2px rgba(50, 236, 191, 1) solid;
        border-radius: 500px;
        background: transparent;
        color: rgba(50, 236, 191, 1);
        text-shadow: 2px 2px rgba(183, 35, 35, 1);
        transition-duration: .5s;
        padding: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

/* Samsung Galaxy Note 20 Ultra (landscape) */
@media screen and (device-width: 2400px) and (device-height: 1080px) {
    .toggleContact {
        font-size: 2em;
    }
    
    .toggleBooking {
        font-size: 2em;
    }
    
    .input, input:focus {
        font-size: 2em;
    }

    .label {
        font-size: 1.5em;
    }

    .datetime {
        font-size: 2em;
    }

    .select {
        font-size: 2em;
    }

    .option {
        font-size: small;
    }

    .textarea {
        font-size: 2em;
    }
    
    .textareaContact {
        height: 30vh;
        margin-bottom: 4vh;
    }
    
    .textareaBooking {
        height: 12vh;
        margin-top: 2%; 
    }
    
    .submitContact {
        margin-top: 20%;
    }

    .submitBooking {
        margin-top: 20%;
    }
    
    .submit {
        font-size: 2em;
        margin-top: 16%;
    }

    .confirmContainer {
        width: inherit;
    }

    .submit {
        margin-top: 1vh;
    }

    .warning {
        color: rgb(252, 111, 111);
        display: block;
        margin-left: 7%;
        font-size: 1.5em;
    }

    .confirmThankYou {
        font-size: 5em;
        margin-top: -5%;
    }
    
    .confirmSubThankYou {
        margin-top: 5%;
        font-size: 3.5em;
    }
    
    .confirmOkay {
        margin-top: 10%;
        font-size: 3em;
        border: 2px rgba(50, 236, 191, 1) solid;
        border-radius: 500px;
        background: transparent;
        color: rgba(50, 236, 191, 1);
        text-shadow: 2px 2px rgba(183, 35, 35, 1);
        transition-duration: .5s;
        padding: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

/* Samsung Galaxy Fold */
@media screen and (device-height: 653px) {
    .container {
        height: 80%;
    }

    .textareaBooking {
        height: 12vh;
    }

    .submit {
        margin-top: 0%;
    }

    .submitContact {
        margin-top: 7%;
    }

    .submitBooking {
        margin-top: 0%;
    }
}

/* Samsung Galaxy A51/71 */
@media screen and (device-height: 914px) {
    .textareaBooking {
        height: 24vh;
    }

    .submitContact {
        margin-top: 15%;
    }

    .submitBooking {
        margin-top: 3%;
    }
}

/* Nest Hub */
@media screen and (device-height: 600px) and (device-width: 1024px) {
    .container {
        height: 100vh;
    }
    
    .textareaBooking {
        height: 10vh;
    }

    .submit {
        margin-top: 1vh; 
    }

    .submitContact {
        margin-top: 7%;
    }

    .submitBooking {
        margin-top: 2%;
    }
}

/* Nest Hub Max */
@media screen and (device-height: 800px) and (device-width: 1280px) {
    .container {
        height: 100vh;
    }

    .submitContact {
        margin-top: 12%;
    }

    .submitBooking {
        margin-top: 10%;
    }
}

