.container {
    z-index: 10;
    background: rgba(0,0,0,0.65);
    width: 45vw;
    height: 100vh;
    transform: translateX(110.5%);
}

.confirmContainer {
    position: absolute;
    z-index: 20;
    background: black;
    width: 45vw;
    height: 100vh;
    transform: translateX(110.5%);
}

.confirmText {
    color: white;
}

.confirmThankYou {

}

.confirmSubThankYou {

}

.confirmOkay {

}

.toggle {
    width: 50%;
    padding-top: 1%;
    margin-bottom: 2.5%;    
    font-size: larger;
    background: black; 
    padding-bottom: 2px;
}

.toggleContact {
    color: rgba(50, 236, 191, 1);
    border-bottom: 2px rgba(50, 236, 191, 1) solid;
}

.toggleContact:hover {
    color: rgb(93, 250, 90);
    border-bottom: 2px rgb(93, 250, 90) solid;
}

.toggleBooking {
    color:rgb(252, 111, 111);
    border-bottom: 2px rgb(252, 111, 111) solid;
}

.toggleBooking:hover {
    color:rgb(249, 49, 49);
    border-bottom: 2px rgb(249, 49, 49) solid;
}

.label {
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    display: block;
    color: white;
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: .5%
}

.input, input:focus {
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: rgba(50, 236, 191, 1);
    font-size: medium;
    background: transparent;
    border: none;
    border-bottom: 1px rgba(50, 236, 191, 1) solid;
}

.select {
    display: block;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    font-size: medium;
    color: rgba(50, 236, 191, 1); 
    background: rgba(0,0,0,0.85);
    border: none;
    height: 5vh;
}

.option {
    color: rgba(50, 236, 191, 1); 
    background: rgba(0,0,0,0.85);
}

.datetime {
    width: 85%;
    margin-left: 7%;
    margin-right: auto;
    background:rgba(50, 236, 191, 1);
    font-size: large;
}

.textarea {
    display: block;
    resize: none;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: none;
    color: rgba(50, 236, 191, 1);
    font-size: large;
    background: rgba(0,0,0,0.65);
}

.textareaContact {
    height: 25vh;
}

.textareaBooking {
    height: 15vh;
}

.warning {
    color: rgb(252, 111, 111);
    display: block;
    margin-left: 7%;
    font-size: small;
}

.warningHidden {
    color: transparent;
    display: block;
    margin-left: 7%;
    font-size: small;
}

.submit {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    font-size: larger;
    border: 2px rgba(50, 236, 191, 1) solid;
    border-radius: 500px;
    background: transparent;
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    transition-duration: .5s;
}

.submit:hover {
    color: black;
    text-shadow: none;
    background: rgba(50, 236, 191, 1)
}

/* --------------- RESPONSIVE BREAKPOINTS --------------- */

@media screen and (min-width: 361px) and (max-width: 768px) {
    .container {
        /* position: absolute; */
        transform: translate(5vw, 23vh);
        width: 90vw;
        height: 75vh;
    }
    
    .submit {
        margin-top: 8%;
    }
}

@media screen and (min-width: 1px) and (max-width: 360px) {
    
}