.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.imageWide {
    z-index: 100;
    position: absolute;
    left: 5vw;
    height: 100vh;
}

.imageMobile {
    z-index: 100;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(1.8%);
    bottom: 0%;
}

.imageMedium {
   display: block;
   position: absolute;
   width: 90%;
   height: auto;
   bottom: 0;
   left: 5%;
   z-index: 100;
}

.overlay {
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: radial-gradient(81.3% 81.3% at 50% 50%, rgba(74, 183, 35, 0.39) 0%, rgba(49, 28, 9, 0.836698) 56.76%, #000000 100%);
}

.background {
    width: 100vw;
    height: 100vh;
    background: url("../../public/images/skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 7% 7%; */
}

/* --------------- RESPONSIVE BREAKPOINTS --------------- */

@media screen and (max-width: 1099px) and (min-width: 769px) {
    .imageMedium {
        width: 70%;
        left: 15%;
        bottom: 0%;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;
    
        background: url("../../public/images/denver-skyline-3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 15% 50%;
    }

    .imageMobile {
        z-index: 100;
        position: absolute;
        width: 100vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
    }
}

@media screen and (min-width: 1px) and (max-width: 360px) {
    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;    
        background: url("../../public/images/denver-skyline-3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 15% 50%;
    }
}