.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.heroImage {
    z-index: 100;
    position: absolute;
    left: 5vw;
    bottom: 0;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    background: url("../../public/images/kmac-transparent-1-red.png");
    background-size: 35% auto;
    background-repeat: no-repeat;
    /* background-color: red; */
}

.overlay {
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: radial-gradient(81.3% 81.3% at 50% 50%, rgba(74, 183, 35, 0.39) 0%, rgba(49, 28, 9, 0.836698) 56.76%, #000000 100%);
}

.background {
    width: 100vw;
    height: 100vh;
    background: url("../../public/images/skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------------- RESPONSIVE BREAKPOINTS --------------- */

/* @media screen and (max-width: 1099px) and (min-width: 769px) {
    .imageMedium {
        width: 70%;
        left: 15%;
        bottom: 0%;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;
    
        background: url("../../public/images/denver-skyline-3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 15% 50%;
    }

    .imageMobile {
        z-index: 100;
        position: absolute;
        width: 100vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
    }
}

@media screen and (min-width: 1px) and (max-width: 360px) {
    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;    
        background: url("../../public/images/denver-skyline-3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 15% 50%;
    }
} */

/* @media all and (orientation: portrait) and (max-width: 1304px) and (min-width: 400px) {
    .heroImage {
        left: 0vw;
        background: url("../../public/images/kmac-transparent-2-red.png");
        background-size: auto 800px;
        background-position: center 100%;
        background-repeat: no-repeat;
    }
} */

/* Portrait narrow */
/* @media all and (orientation: portrait) and (max-width: 545px) { */
@media all and (orientation: portrait) and (max-width: 305px) {
    .heroImage {
        left: 0vw;
        background: url("../../public/images/kmac-transparent-3-red.png");
        background-size: 100vw auto;
        background-position: center 100%;
        background-repeat: no-repeat;
    }

    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;    
        background: url("../../public/images/denver-skyline-3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 15% 50%;
    }
}

/* Portrait wide */
@media all and (orientation: portrait) and (min-width: 305px) {
    .heroImage {
        left: 0vw;
        background: url("../../public/images/kmac-transparent-2-red.png");
        background-size: 75vh, auto;
        background-position: center 100%;
        background-repeat: no-repeat;
    }

    .background {
        position: absolute;  
        background: url("../../public/images/denver-skyline-3.jpg");
        background-repeat: no-repeat;
        background-position: 20% 00%;
    }
}

/* Landscape */
@media all and (orientation: landscape) {
    .heroImage {
        left: 0vw;
        height: 100%;
        width: 100vw;
        background: url("../../public/images/kmac-transparent-1-red.png");
        background-size: 65vh auto;
        background-position: 5% 100%;
        background-repeat: no-repeat;
    }
}

@media all and (orientation: landscape) and (max-width: 695px) {
    .heroImage {
        left: 0vw;
        height: 100%;
        width: 100vw;
        background: url("../../public/images/kmac-transparent-1-red.png");
        background-size: 55vh auto;
        background-position: 5% 100%;
        background-repeat: no-repeat;
    }
}

