/*

MOBILE PROBLEMS:
    - Minor scroll on nav bar, even though it's set to fixed position
    - Existince of nav dropdown menu makes nav bar scrolling problem worse, even when display is set to none

*/

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    position: absolute;
    background: transparent;
    height: 100vh;
    width: 100vw;
}

.container {
    z-index: 100000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-color: rgba(0,0,0,0.65);
    overflow: hidden;
}

.nav {
    margin-top: 3px;
    overflow: hidden;
    height: 50%;
    font-size: 3vh;
}

.nav button {
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    text-decoration: none;
    display: block;
    background: transparent;
    border: none;
    font-size: .8em;
    margin: 50px;
}

.nav button:hover {
    color: rgb(93, 250, 90);
    cursor: pointer;
}

.nav li {
    list-style-type: none;
    float: left;
    margin-bottom: 0px;
}

.navLeft {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 40px;
    margin-left: 10px;
}

.navRight {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 40px;
    margin-right: 10px;
}

.navLeft a {
    margin-left: 30px;
}

.navRight a {
    margin-right: 30px;
}

.logo {
    z-index: 100000;
    position: absolute;
    transform: rotate(-10deg);
    filter: drop-shadow(5px 5px rgba(183, 35, 35, 1));
    transition: all .5s;
    transition-timing-function: ease;
}

.menuButton {
    z-index: 1000000;
    display: none;
}

.navDrop {
    z-index: 1000000000;
    position: fixed;
    margin-top: 54px;
}

.navDrop ul {
    display: flex;
    flex-direction: column;
    margin-top: 5.3vh;
}

.navDrop button {
    width: 100vw;
    font-size: 1.8em;
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    background-color: rgba(0,0,0,0.65);
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navDrop button:hover {
    cursor: pointer;
    color: rgb(93, 250, 90)
}

/********************** RESPONSIVE BREAKPOINTS ********************************/

@media all and (orientation: landscape) {
    .nav {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 30%;
    }

    .nav ul {
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nav button {
        margin: 0px;
        height: 80%;
        padding-top: 10%;
        overflow: hidden;
    }

    .dropButton {
        display: none;
    }

    .navRight {
        padding: 0;
        margin: 0;     
    }

    .navLeft {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .logoHero {
        height: auto;
        width: 50vw;
        top: 35%;
        left: 45%;
    }
    
    .logoNav {
        position: fixed;
        height: auto;
        width: 100px;
        top: 1%;
        left: 50%;
        transform: translate(-50%, 0) rotate(-10deg);  
    }
}

@media all and (orientation: portrait) {
    .container {
        height: 8vh;
    }

    .menuButton {
        position: fixed;
        display: block;
        align-self: center;
        height: 4%;
        top: 2vh;
        right: 7vw;
    }

    .nav {
        margin-top: 3px;
    }
    
    .nav button {
        display: none;
    }

    .navDrop {
        margin: 0px;
        top: 2.7%;
    }

    .navDrop button {
        width: 100vw;
        /* margin-top: 10px; */
        font-size: calc(.6vh + .6vw);
        color: rgba(50, 236, 191, 1);
        text-shadow: 2px 2px rgba(183, 35, 35, 1);
        background-color: rgba(0,0,0,0.65);
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .dropButtonText {
        font-size: 2.5em;
    }
    
    .logoHero {
        height: auto;
        width: 60vw;
        top: 12%; 
        left: 20%;
    }
    
    .logoNav {
        position: fixed;
        transform: scale(.25, .25) translate(-700px, -50vh) rotate(-10deg);
        filter: drop-shadow(3px 4px rgba(183, 35, 35, 1));
    }
}




