/*

MOBILE PROBLEMS:
    - Minor scroll on nav bar, even though it's set to fixed position
    - Existince of nav dropdown menu makes nav bar scrolling problem worse, even when display is set to none

*/

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    position: absolute;
    background: transparent;
    height: 100vh;
    width: 100vw;
}

.container {
    z-index: 100000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    background-color: rgba(0,0,0,0.65);
    overflow: hidden;
}

.nav {
    margin-top: 3px;
}

.nav button {
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    text-decoration: none;
    display: block;
    background: transparent;
    border: none;
    font-size: 1.2em;
    margin-right: 50px;
}

.nav button:hover {
    color: rgb(93, 250, 90);
    cursor: pointer;
}

.nav li {
    list-style-type: none;
    float: left;
    margin-bottom: 6px;
}

.navLeft {
    padding-left: 40px;
}

.navRight {
    padding-right: 10px;
}

.navLeft a {
    margin-left: 30px;
}

.navRight a {
    margin-right: 30px;
}

.logo {
    z-index: 100000;
    position: absolute;
    width: auto;
    transition: all .5s;
}

.logoHero {
    height: 20vw;
    transform: translate(45vw, 15vw) rotate(-10deg);
    filter: drop-shadow(7px 7px rgba(183, 35, 35, 1));
}

.logoNav {
    position: fixed;
    height: 10vh;
    transform: translate(40vw, 1.5vh) rotate(-10deg);
    filter: drop-shadow(3px 4px rgba(183, 35, 35, 1));
}

.menuButton {
    z-index: 1000000;
    display: none;
}

.navDrop {
    z-index: 1000000000;
    position: fixed;
    margin-top: 54px;
}

.navDrop ul {
    display: flex;
    flex-direction: column;
}

.navDrop button {
    width: 100vw;
    margin-top: 10px;
    font-size: 20px;
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    background-color: rgba(0,0,0,0.65);
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navDrop button:hover {
    cursor: pointer;
    color: rgb(93, 250, 90)
}

/********************** RESPONSIVE BREAKPOINTS ********************************/

@media screen and (max-width: 1099px) and (min-width: 769px) {
    .navDrop {
        display: none;
    }

    .logoHero {
        transform: translate(0vw, 0vw) rotate(-10deg);
        height: auto;
        width: 50%;
        top: 10%;
        left: 23%;
    }

    .logoNav {
        transform: translate(34vw, 1.5vh) rotate(-10deg);
    }
}

@media screen and (min-width: 0px) and (max-width: 773px){ /* 412 */
    .nav ul {
        display: none;
    }

    .logoHero {
        height: auto;
        width: 70%;
        transform: translate(0vw, 0vw) rotate(-10deg);
        top: 10%;
        left: 12%;
        filter: drop-shadow(7px 7px rgba(183, 35, 35, 1));
    }
    
    .logoNav {
        position: fixed;
        height: 8vh;
        transform: translate(5vw, 1.5vh) rotate(-10deg);
        filter: drop-shadow(3px 4px rgba(183, 35, 35, 1));
    }

    .menuButton {
        display: block;
        position: fixed;
        height: 25px;
        width: auto;
        top: 15px;
        right: 35px;
    }
}

@media screen and (min-width: 0px) and (max-width: 360px){
    .nav ul {
        display: none;
    }

    .logoHero {
        height: 30vw;
        transform: translate(10vw, 30vw) rotate(-10deg);
        filter: drop-shadow(7px 7px rgba(183, 35, 35, 1));
    }
    
    .logoNav {
        position: fixed;
        height: 8vh;
        transform: translate(5vw, 1.5vh) rotate(-10deg);
        filter: drop-shadow(3px 4px rgba(183, 35, 35, 1));
    }

    .menuButton {
        display: block;
        position: fixed;
        height: 25px;
        width: auto;
        top: 23px;
        right: 20px;
    }
}

/* iPhone SE */
@media screen and (device-height: 667px) {
    .menuButton {
        top: 14px;
        right: 20px;
    }
}

/* iPhone XR */
@media screen and (device-height: 896px) {
    .menuButton {
        top: 19px;
        height: 4vh;
        right: 5vw;
    }

    .logoHero {
        height: 30vw;
        transform: translate(0vh, 15vw) rotate(-10deg);
        filter: drop-shadow(7px 7px rgba(183, 35, 35, 1));
    }
}

/* iPad Mini */
@media screen and (device-height: 1024px) {
    .menuButton {
        height: 40px;
        top: 20px;
        right: 30px;
    }
}

/* iPad Air */
@media screen and (device-height: 1180px) and (device-width: 820px) {
    .navRight {
        padding-right: 0px;
    }

    .logoHero {
        height: 20vh;
        width: auto;
        transform: translate(-10vw, 5vh) rotate(-10deg);
    }

    .logoNav {
        position: fixed;
        height: 7vh;
        transform: translate(5vw, 1.5vh) rotate(-10deg);
        left: 30vw;
        filter: drop-shadow(3px 4px rgba(183, 35, 35, 1));
    }
}

/* Pixel 5 */
@media screen and (device-height: 851px) and (device-width: 393px) {
    .logoHero {
        transform: translate(0vw, 8vh) rotate(-10deg);
    }
}

/* Samsung Galaxy S8+ */
@media screen and (device-height: 740px) {
    .logoHero {
        height: 30vw;
        width: auto;
        transform: translate(0vw, 6vh) rotate(-10deg);
    }

    .menuButton {
        top: 2.5vh;
    }
}

/* Samsung Galaxy S20 Ultra */
@media screen and (device-width: 412px) and (device-height: 915px) {
    .logoHero {
        height: 35vw;
        width: auto;
        margin-left: -10%;
    }
    
    .menuButton {
        top: 10vh;
        /* left: 70%; */
    }
}

/* Surface Pro 7 */
@media screen and (device-height: 1368px) and (device-width: 912px) {
    .navRight {
        padding-right: 0px;
    }
    
    .logoNav {
        position: fixed;
        height: 7vh;
        transform: translate(5vw, 1.5vh) rotate(-10deg);
        left: 30vw;
        filter: drop-shadow(3px 4px rgba(183, 35, 35, 1));
    }

    .logoHero {
        height: 30vw;
        width: auto;
        transform: translate(-10vw, 1.5vh) rotate(-10deg);
    }
}

/* Surface Duo */
@media screen and (device-height: 720px) {
    .menuButton {
        height: 25px;
        top: 15px;
        right: 20px;
    }
}

/* Samsung Galaxy Fold */
@media screen and (device-height: 653px) {
    .logoHero {
        height: 14vh;
        width: auto;
        transform: translate(-4vw, 8vh) rotate(-10deg);
    }

    .menuButton {
        height: 23px;
        top: 15px;
        right: 20px;
    }
}

/* Samsung Galaxy S20 Ultra */
@media screen and (device-height: 915px) and (device-width: 412px) {
    .menuButton {
        top: 2.5vh;
    }

    .logoHero {
        transform: translate(3vw, 8vh) rotate(-10deg);
    }
}

/* Samsung Galaxy Fold */
@media screen and (device-height: 914px) {
    .logoHero {
        transform: translate(0vw, 8vh) rotate(-10deg);
    }

    .menuButton {
        height: 30px;
        top: 20px;
        right: 20px;
    }
}

/* Nest Hub */
@media screen and (device-height: 600px) {
    .navRight {
        padding-right: 0px;
    }

    .logoNav {
        transform: translate(40vw, 1.5vh) rotate(-10deg);
    }

    .logoHero {
        width: 40vw;
        height: auto;
        transform: translate(30vw, 15vh) rotate(-10deg);
    }
}

