.main {
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(112.78deg, rgba(183, 35, 35, 0.5) 12.87%, rgba(51, 169, 236, 0.5) 52.53%, rgba(74, 183, 35, 0.5) 97.84%), url("../../public/images/concert1.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* ---------------- Scrolling frame ---------------- */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,.5);
    height: 82.5%;
    width: 85%;
    margin-top: 6%;
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    height: 90%;
    overflow: auto;
    flex-wrap:no-wrap;
}

.banner {
    background: rgba(0,0,0,0.45);
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bannerText {
    font-weight: lighter;
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    font-size: 2em;
    margin-top: 10%;
}

.scrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.25);
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    font-size: 2em;
    font-weight: 800;
    height: 100%;
    width: 5%;
    user-select: none;
    cursor: pointer;
    transition-duration: .25s;
}

.scrollButton:hover {
    background: rgba(116, 116, 116, 0.25);
}

.showBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.25);
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex: none;

    /* SCROLL TEST */
    transition-duration: .5s;
}

/* ---------------- Show listing ---------------- */

.showMain {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.01);
    overflow: hidden;
}

.showWindow {
    display: flex;
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.posterFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 35%;
    color: white;
    background: rgba(0,0,0,0.65);
    background-position: center;
    background-size: cover;
    margin-right: 5%;
    overflow: hidden;
}

.textFrame {
    height: 90%;
    width: 50%;
    background: rgba(0,0,0,0.65);
    color: white;
    padding: 1%;
}

.showTextHeader {
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    
}

.showTextInfo {
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    font-weight: lighter;
    font-size: 1.1em;
}

.showTextDesc {
    display: block;
    padding: 1em;
}

.noShows {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color:rgba(50, 236, 191, 1);
    text-shadow:rgba(183, 35, 35, 1);
    font-size: large;
}

.showImage {
    height: auto; 
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width: 0px) and (max-width: 769px) {
    .showMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .posterFrame {
        width: 100%;
        height: 50%;
    }

    .textFrame {
        width: 100%;
        height: 50%;
    }

    .scrollButton {
        width: 10%;
    }

    .showImage {
        max-height: 100%;
        max-width: 100%;
        object-fit: scale-down;
    }
}

/* iPhone SE */
@media screen and (device-height: 667px) {
    .showImage {
        object-fit: contain;
    }
}

/* iPad Air */
@media screen and (device-height: 1180px) {
    .showTextHeader {
        color: rgba(50, 236, 191, 1);
        text-shadow: 2px 2px rgba(183, 35, 35, 1);
        
    }
    
    .showTextInfo {
        font-size: 1.7em;
    }

    .showTextDesc {
        font-size: 1.5em;
    }
}

/* iPad Mini */
@media screen and (device-height: 1024px) {
    .showTextHeader {
        color: rgba(50, 236, 191, 1);
        text-shadow: 2px 2px rgba(183, 35, 35, 1);
        font-size: 2.5em;
        margin-bottom: 0px;
    }
    
    .showTextInfo {
        font-size: 1.7em;
    }

    .showTextDesc {
        font-size: 1.5em;
    }
}

/* Samsung Galaxy Fold */
@media screen and (device-height: 653px) {
    .bannerText {
        font-weight: lighter;
        color: rgba(50, 236, 191, 1);
        text-shadow: 2px 2px rgba(183, 35, 35, 1);
        font-size: 1.25em;
        margin-top: 10%;
    }

    .showTextHeader {
        color: rgba(50, 236, 191, 1);
        text-shadow: 2px 2px rgba(183, 35, 35, 1);
        font-size: 1.5em;
        margin-bottom: 10px;
    }
}

/* Samsung Galaxy Note Ultra */
@media screen and (device-width: 1080px) and (device-height: 2400px) {
    .container {
        height: 90%;
        margin-top: 13%;
    }

    .bannerText {
        font-size: 4em;
    }
    
    .showMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .posterFrame {
        width: 110%;
        height: 50%;
    }

    .textFrame {
        width: 100%;
        height: 50%;
    }

    .showTextHeader {
        color: rgba(50, 236, 191, 1);
        text-shadow: 2px 2px rgba(183, 35, 35, 1);
        font-size: 5em;
        margin-bottom: 10px;
    }

    .showTextInfo {
        font-size: 3em;
    }

    .showTextDesc {
        font-size: 2em;
    }

    .scrollButton {
        width: 10%;
    }

    .showImage {
        max-height: 100%;
        max-width: 100%;
        object-fit: scale-down;
    }
}

/* Samsung Galaxy Note Ultra (landscape) */
@media screen and (device-width: 2400px) and (device-height: 1080px) {
    .showTextHeader {
        color: rgba(50, 236, 191, 1);
        text-shadow: 2px 2px rgba(183, 35, 35, 1);
        font-size: 4em;
        margin-bottom: 10px;
    }

    .showTextInfo {
        font-size: 2em;
    }

    .showTextDesc {
        font-size: 2em;
    }
}