.main {
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(112.78deg, rgba(183, 35, 35, 0.5) 12.87%, rgba(51, 169, 236, 0.5) 52.53%, rgba(74, 183, 35, 0.5) 97.84%), url("../../public/images/concert1.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* ---------------- Scrolling frame ---------------- */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,.5);
    height: 82.5%;
    width: 85%;
    margin-top: 6%;
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    height: 90%;
    overflow: auto;
    flex-wrap:no-wrap;
}

.banner {
    background: rgba(0,0,0,0.45);
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bannerText {
    font-weight: lighter;
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    font-size: 2em;
    margin-top: 100px;
}

.scrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.25);
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    font-size: 2em;
    font-weight: 800;
    height: 100%;
    width: 5%;
    user-select: none;
    cursor: pointer;
    transition-duration: .25s;
}

.scrollButton:hover {
    background: rgba(116, 116, 116, 0.25);
}

.showBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.25);
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex: none;

    /* SCROLL TEST */
    transition-duration: .5s;
}

/* ---------------- Show listing ---------------- */

.showMain {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.01);
    /* background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,191,0,1) 47%, rgba(53,255,0,1) 100%); */
    overflow: hidden;
}

.showWindow {
    display: flex;
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.posterFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 35%;
    color: white;
    background: rgba(0,0,0,0.65);
    background-position: center;
    background-size: cover;
    margin-right: 5%;
    overflow: hidden;
}

.textFrame {
    height: 90%;
    width: 50%;
    background: rgba(0,0,0,0.65);
    color: white;
    padding: 1%;
}

.showTextHeader {
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    
}

.showTextInfo {
    color: rgba(50, 236, 191, 1);
    text-shadow: 2px 2px rgba(183, 35, 35, 1);
    font-weight: lighter;
    font-size: 1.1em;
}

.showTextDesc {
    display: block;
    padding: 1em;
}

.noShows {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color:rgba(50, 236, 191, 1);
    text-shadow:rgba(183, 35, 35, 1);
    font-size: large;
}

.showImage {
    height: auto; 
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    .showMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .posterFrame {
        width: 100%;
        height: 50%;
    }

    .textFrame {
        width: 100%;
        height: 50%;
    }

    .scrollButton {
        width: 10%;
    }

    .bannerText {
        margin-top: 10%;
    }

    .showImage {
        max-height: 100%;
        max-width: 100%;
    }
}