.main {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    overflow: hidden;
}

.banner {
    display: block;
    position: relative;
    font-size: 6vw;
    font-weight: 400;
    color: rgb(40, 239, 236);
    text-shadow: 5px 5px rgba(183, 35, 35, 1);
    overflow: hidden;
}

.listItem {
    background: red;
    height: 10vh;
    width: 20%;
    float: left;
}

.listContainer {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.link {
    display: block;
    height: 100%;
    width: 100%;
}

.socialContainer {
    position: relative;
    height: 10vh;
    width: 30vw;
    overflow: hidden;
}

.spotify {
    background: url('../../public/images/spotifyLogo.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.facebook {
    background: url('../../public/images/facebookLogo.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.instagram {
    background: url('../../public/images/instagramLogo.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.twitter {
    background: url('../../public/images/twitterLogo.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

/* @media screen and (max-width: 768px) {
    .main {
        top: 297.5%;
        left: 10%;
        width: 80vw;
    }

    .banner {
        display: none;
        overflow-y: hidden;
    }

    .socialContainer {
        height: 12vh;
        width: 88vw;
    }

    .spotify {
        background: url('../../public/images/spotifyLogo.png');
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .facebook {
        background: url('../../public/images/facebookLogo.png');
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .instagram {
        background: url('../../public/images/instagramLogo.png');
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .twitter {
        background: url('../../public/images/twitterLogo.png');
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position: center;
    }   
} */

/* -------------- DEVICE-SPECIFIC BREAKPOINTS -------------- */



@media all and (orientation: landscape) {
    .main {
        /* background: green; */
    }

    .banner {
        margin-top: 20%;
    }
    
    .socialContainer {
        /* top: 15%; */
    }
}

@media all and (orientation: portrait) {
    .main {
        top: 257.5%;
        left: 10%;
        width: 80vw;
    }

    .banner {
        display: none;
        overflow-y: hidden;
    }

    .socialContainer {
        height: 12vh;
        width: 88vw;
        top: 15%;
    }

    .spotify {
        background: url('../../public/images/spotifyLogo.png');
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .facebook {
        background: url('../../public/images/facebookLogo.png');
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .instagram {
        background: url('../../public/images/instagramLogo.png');
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .twitter {
        background: url('../../public/images/twitterLogo.png');
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}